!!! 5
html
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")

  body
    nav.navbar.navbar-default(role="navigation")
      div.navbar-header
        a.navbar-brand BabaScript Client
    div#content.container 
  script#document-page(type="text/template")
    div.documet-page
      h1 ドキュメントです！
  script#index-page(type="text/template")
    div.index-page
      h1 いんでっくすぺーじだよ〜
  script#client-page(type="text/template")
    div.client-page
      h1 くらいあんと
  script#number-input-view(type="text/template")
    div.number
      h1 <%= title %>
      input.number-value(type="number")
      button(type="button") 値を返す
  script#boolean-input-view(type="text/template")
    div.bool
      h1 <%= title %>
      button.true.btn.btn-default.btn-block(type="button") はい
      button.false.btn.btn-default.btn-block(type="button") いいえ
  script#string-input-view(type="text/template")
    div.string
      h1 <%= title %>
      input.string-value(type="text")
      button(type="button") 値を返す
  script#list-input-view(type="text/template")
    div.list
      h1 <%= title %>
      select.form-control
        <% _.each(items, function(item){ %>
        option<%= item %>
        <% }); %>
      button(type="button") 値を返す
  script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js')
  script(src="/js/linda.js")
  script(src='/js/underscore.js')
  script(src='/js/backbone.js')
  script(src='/js/babascript.js')
  script(src='/js/script.js')